@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.header{
background-color: #1F2937;
display: flex;
justify-content: space-around;
align-items: center;
height: 50px;

}

/*.section-one {

}
.section-two {

}
.section-three {

}

.section-four {

}
*/

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    
    font-family: Roboto;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    min-width: 63px;
}