@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}
.header{
background-color: #1F2937;
display: flex;
justify-content: space-around;
align-items: center;
height: 50px;

}

.section-one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 410px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    
}


.section-three {
    display: flex;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
    align-items: center;

}

/*
.section-four {

}
*/



.quote{
    display: flex;
    flex-direction: column;
    width: 750px;
}
#TOP {
    align-self: flex-end;
    font-size: 20px;
}
.text-quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.cards {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.card {
    
    width: 120px;
    height: 120px;
    border: #3882F6 3px solid;
    border-radius: 15px;
}

.text-cards {
    display: flex;
    gap: 35px;
    
}
#description {
    width: 120px;
    text-align: center;
    color: grey;
    font-size: 14px;
}


.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    
    font-family: Roboto;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto;
}
.hero {
    width: 430px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    
    list-style-type: none;
}


ul, h1, h2, p {
    margin: 0;
    padding: 0;
}

li {
    min-width: 63px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}



.hero-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    
}

.hero {
    display: flex;
    flex-direction: column;
}

.placeholder-image {
    background-color: darkgray;
    width: 450px;
    height: 203px;
    text-align: center;
    line-height: 203px;
}
.button-hero {
    align-self: flex-start;
    height: 30px;
    width: 150px;
    border-radius: 10px;    
    border-width: 0;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 15px;
    margin-top: 10px;
    
}
