@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    
   
}
.header{
background-color: #1F2937;
display: flex;
justify-content: space-around;
align-items: center;
height: 50px;

}

.section-one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 400px;
   
    
    

}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

}

/*
.section-three {

}

.section-four {

}
*/

.cards {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.card {
    
    width: 120px;
    height: 120px;
    border: #3882F6 3px solid;
    border-radius: 15px;
}

.text-cards {
    display: flex;
    gap: 35px;
    
}
#description {
    width: 120px;
    text-align: center;
    color: grey;
    font-size: 14px;
}


.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    
    font-family: Roboto;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto;
}
.hero {
    width: 430px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    
    list-style-type: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    min-width: 63px;
}

h1 {
    margin: 0;
}

.hero-main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    
}

.hero {
    display: flex;
    flex-direction: column;
}

.placeholder-image {
    background-color: darkgray;
    width: 450px;
    height: 203px;
    text-align: center;
    line-height: 203px;
    
    
    
}
.button-hero {
    align-self: flex-start;
    height: 30px;
    width: 150px;
    border-radius: 10px;    
    border-width: 0;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 15px;
    margin-top: 10px;
    
}