@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}
.header{
background-color: #000000;
display: flex;
justify-content: space-around;
align-items: center;
height: 50px;

}

.hero-section {
    background-color: #1d033f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 410px;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    
}


.quote-section {
    display: flex;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
    align-items: center;

}


.action-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.action {
    background-color: #3882F6;
    display: flex;
    height: 150px;
    justify-content: space-around;
    width: 800px;
    border-radius: 15px;
    
}
#action-button {
    align-self: center;
    border:#F9FAF8 solid 2px;
}
.action-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.quote{
    display: flex;
    flex-direction: column;
    width: 750px;
}
#TOP {
    align-self: flex-end;
    font-size: 20px;
}
.text-quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cards {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.card {
    
    width: 120px;
    height: 120px;
    border: #3882F6 3px solid;
    border-radius: 15px;
}

.text-cards {
    display: flex;
    gap: 35px;
    
}
#description {
    width: 120px;
    text-align: center;
    color: grey;
    font-size: 14px;
}


.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
    font-family: Roboto;
}
.hero {
    width: 430px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    list-style-type: none;
}


ul, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

li {
    min-width: 63px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}



.hero-main-text {
    color: #12f0cb;
    font-weight: 900;
    font-size: 48px;
    
}

.hero {
    display: flex;
    flex-direction: column;
}

#image-hero {
    border: #12f0cb solid 2px;
}

.button-hero {
    align-self: flex-start;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    width: 200px;
    
}

button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: #000000;
    border: #12f0cb solid 2px;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 15px;
}